a{
    text-decoration: none !important;
}
.rr{
    background-color: #6041B7 !important;
}
.text_1{
    color:#D44E24
}
.text_2{
    color:#20935B;
}
.text_3{
    color: #59309B;
}
.text_4{
    color: #6041B7;
}
.text_5{
    color: #F67B54;
}
.text_6{
   color: #4DC28A
}
.text_7{
    color: #8F61DB;
}
.text_8{
    color: #5230B6;
}
.text_9{
    color: #25B771;
}
.bg_1{
    background-color: #FFF5F2;
}
.bg_2{
    background-color: #F0FFF6;
}
.bg_3{
    background-color: #F9F4FF;
}
.bg_4{
    background-color: #FFF9F7;
}
.bg_5{
    background-color: #FBFAFF;
}
.text_10{
    color: #909090 !important;
}
.bg_11{
    background-color:#323232; 

}
